<header class="site-header">
  <div class="wrapper">
    <h1 class="site-title">
      <a href="{{ "/" | absolute_url }}">{{ site.title | escape }}</a>
    </h1>
    <nav class="site-nav">
      {% for page in site.pages %}
        {% if site.header_pages contains page.path %}
          <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
      <a class="page-link" href="{{ "/feed.xml" | relative_url }}" target="_blank">RSS</a>
    </nav>
  </div>
</header>
