<header class="site-header">
  <div class="wrapper">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
    </h1>
    <nav class="site-nav">
      {% for page in site.pages %}
        {% assign page_filename = page.path | split: "/" | last %}
        {% if site.header_pages contains page_filename %}
          <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
