<ul class="social-media-list">
  <li><a href="https://github.com/jd657824"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">@jd657824</span></a></li>
  <li><a href="https://bsky.app/profile/jd657824.bsky.social"><svg class="svg-icon" viewBox="0 0 16 16">
    <text x="0" y="12" fill="currentColor" style="font-size:14px;">🦋</text>
  </svg> <span class="username">@jd657824</span></a></li>
  <li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>RSS</span></a></li>
</ul>
