<ul class="social-media-list">
  <li><a href="https://github.com/jd657824"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">GitHub</span></a></li>
  <li><a href="https://www.instagram.com/jd657824/"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg> <span class="username">Instagram</span></a></li>
  <li><a href="https://bsky.app/profile/did:plc:jd657824"><svg class="svg-icon" width="16" height="16" viewBox="0 0 16 16">
    <path fill="currentColor" d="M8 0L0 5l2 8h12l2-8L8 0zm0 3L3 6.4l1 4.6h8l1-4.6L8 3z"/>
  </svg> <span class="username">Bluesky</span></a></li>
  <li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>RSS</span></a></li>
</ul>
